* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "eurostile", sans-serif ;
    src: url(./Eurostile-Font/Eurostile.ttf);
}

.gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    font-family: "eurostile", sans-serif ;
}

/* NAVBAR */ 

nav {
    padding: 1rem;
    margin: 1rem;
    max-width: 1644px;
    background-color: white;
    display: flex;
    justify-content: end;
}

nav ul {
    list-style: none;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: self-start;
    margin: 1rem;
    padding: 1rem;
        a {
            text-decoration: none;
            color: black;
            padding: 1rem;
        }
}

nav ul .linkedin {
    transform: scale(1);
    transition: all 0.4s;

}

nav ul .linkedin:hover {
    transition: all 0.4s ease;
    transform: scale(1.3);
}

nav ul .gitHub {
    color: #6E07F3;
    border: 1px solid;
    border-width: 2px;
    border-radius: 1rem;
    border-color: #6E07F3;
    padding: 0.8rem 1.2rem;
}

nav ul .gitHub:hover {
    background-color: #6E07F3;
    color: white;
    transition: 0.4s;
}

/* HEADER */

header {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header .titlepfp {
    margin: 2rem 0 3rem ;
    img {
        margin: 2rem 2rem;
        width: 12rem;
        height: 13rem;
        border-radius: 6rem;
    }
}

header .bannerpfp {
    img {
        margin-bottom: -0.2rem;
        max-width: 860px;
    }
}

header .titles {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
        h2 {
            font-size: larger;
            font-weight: light;
        }
}

/* MAIN */

main {
    background-color: #6E07F3;
    padding-top: 8rem;
    padding-bottom: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentacion h3 {
    font-size: xx-large;
    padding-bottom: 2rem;
}

.presentacion p {
    width: 800px;
    font-size: x-large;
    line-height: 2rem;
    text-align: center;
}

/* SLIDER */ 

@keyframes slide {
	0%, 105% { transform: translateX(0); }
    5% { transform: translateX(0); }

    10%, 110% { transform: translateX(-100%); }
    15% { transform: translateX(-100%); }

    20%, 120% { transform: translateX(-200%); }
    25% { transform: translateX(-200%); }

    30%, 130% { transform: translateX(-300%); }
    35% { transform: translateX(-300%); }

    40%, 140% { transform: translateX(-400%); }
    45% { transform: translateX(-400%); }

    50%, 150% { transform: translateX(-500%); }
    55% { transform: translateX(-500%); }

    60%, 160% { transform: translateX(-600%); }
}

.wrapper {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
    height: auto;
	margin: 0;
}

.slider {
	position: sticky;
    width: 100%;
        ul {
            list-style: none;
        }
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 80vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    font-family: 'Courier New', monospace;
}

.slides:hover .slide {
	animation-play-state: runing;
}


.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 10rem;
	position: sticky;
	bottom: 8vw;
	right: 40vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 1rem;
        i {
            padding-right: 2.5rem;
    }
}

/* @MEDIAQUERY */

@media only screen and (max-width: 600px) {
    .gridContainer {
        /* Ajustes para dispositivos pequeños */
        flex-direction: column;
    }

    nav {
        /* Ajustes para la barra de navegación en dispositivos pequeños */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        /* Ajustes para la lista de navegación en dispositivos pequeños */
        flex-direction: column;
        text-align: center;
            li {
                padding: 0.6rem;
            }
    }

    header .titlepfp {
        /* Ajustes para el encabezado en dispositivos pequeños */
        margin: 1rem 0 2rem;
        text-align: center;
    }

    header .bannerpfp img {
        /* Ajustes para la imagen del banner en dispositivos pequeños */
        width: 100%;
    }

    header .titles h2 {
        /* Ajustes para los títulos en dispositivos pequeños */
        font-size: 1.5rem;
    }

    main {
        /* Ajustes para el contenido principal en dispositivos pequeños */
        padding-top: 4rem;
        padding-bottom: 10rem;
    }

    .presentacion h3 {
        /* Ajustes para los títulos en dispositivos pequeños */
        font-size: 1.5rem;
        text-align: center;
    }

    .presentacion p {
        /* Ajustes para el párrafo en dispositivos pequeños */
        padding: 0.3rem;
        text-align: center;
        width: 100%;
    }

    .wrapper {
        /* Ajustes para el contenedor del slider en dispositivos pequeños */
        padding-top: 1rem;
    }

    .slide {
        /* Ajustes para las diapositivas en dispositivos pequeños */
        width: 115vw;
    }

    .caption {
        /* Ajustes para la leyenda en dispositivos pequeños */
        font-size: 5rem;
        bottom: 5vw;
        right: 20vw;
        width: 100%;
        i {
            padding-right: 1.5rem;
        }
    }
}
