* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "eurostile", sans-serif ;
    src: url(./Eurostile-Font/Eurostile.ttf);
}

/* NAVBAR */ 

nav {
    padding: 1rem;
    margin: 1rem;
    max-width: 1644px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: self-start;
    margin: 1rem;
    padding: 1rem;
        a {
            text-decoration: none;
            color: black;
            padding: 1rem;
        }
}

nav ul .linkedin {
    transform: scale(1);
    transition: all 0.4s;

}

nav ul .linkedin:hover {
    transition: all 0.4s ease;
    transform: scale(1.3);
}

nav ul .gitHub {
    color: #65c9ff;
    border: 1px solid;
    border-width: 2px;
    border-radius: 1rem;
    border-color: #65c9ff;
    padding: 0.8rem 1.2rem;
}

nav ul .gitHub:hover {
    background-color: #65c9ff;
    color: white;
    transition: 0.4s;
}

nav #languageSwitch {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

nav label:hover img {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* HEADER */

header {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header .titlepfp {
    margin: 2rem 0 3rem ;
    img {
        margin: 2rem 2rem;
        width: 14rem;
        height: 15rem;
        border-radius: 6rem;
    }
}

header .bannerpfp {
    img {
        margin-bottom: -0.2rem;
        max-width: 860px;
    }
}

header .titles {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
        h1 {
            font-size: 2.5rem;
            font-weight: light;
            font-family: "Jost", sans-serif;
        }
        span {
            font-family: "jost", sans-serif;
        }
    }

/* MAIN */

main {
    background: linear-gradient(0deg, rgba(201,226,241,1) 0%, rgba(101,201,255,1) 100%);
    padding-top: 8rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Jost", sans-serif;
}

.presentacion h3 {
    font-size: xx-large;
    padding-bottom: 2rem;
}

.presentacion p {
    width: 800px;
    font-size: x-large;
    line-height: 2rem;
    text-align: center;
}

/* SLIDER */ 

@keyframes slide {
	0%, 105% { transform: translateX(0); }
    5% { transform: translateX(0); }

    10%, 110% { transform: translateX(-100%); }
    15% { transform: translateX(-100%); }

    20%, 120% { transform: translateX(-200%); }
    25% { transform: translateX(-200%); }

    30%, 130% { transform: translateX(-300%); }
    35% { transform: translateX(-300%); }

    40%, 140% { transform: translateX(-400%); }
    45% { transform: translateX(-400%); }

    50%, 150% { transform: translateX(-500%); }
    55% { transform: translateX(-500%); }

    60%, 160% { transform: translateX(-600%); }
}

.wrapper {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
    height: auto;
	margin: 0;
}

.slider {
	position: sticky;
    width: 100%;
        ul {
            list-style: none;
        }
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 80vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    font-family: 'Courier New', monospace;
}

.slides:hover .slide {
	animation-play-state: runing;
}


.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 10rem;
	position: sticky;
	bottom: 8vw;
	right: 40vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 1rem;
        i {
            padding-right: 2.5rem;
    }
}

/* Skills */

.skillsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: auto;
    margin-top: -8rem;
}

.cardsCont {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
}

.skillsCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 12px;
    border-left: 12px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
        ul {
            list-style: none;
            padding: 1rem;
        };
        h4 {
            font-size: xx-large;
            color: #65c9ff;
            font-family: "Jost", sans-serif;
            font-size: 32px;
        };
        
}

.skillsCards ul li {
    margin-top: 1.6rem;
    font-size: 16px;
    font-weight: bold;
    font-family: "Jost", sans-serif;
}

.skillsCards span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-bottom: 1rem;
    font-size: 50px;
    background-color: #5BE9B9;
    color: black;
    border-radius: 136px;
}

.skillsCards .CardIconSpan i {
    transition: 0.3s ease;
    transform: rotate(0); 
}


.skillsCards .CardIconSpan i:hover {
    transition: 0,3s ease;
    transform: rotate(180deg);
}



/* FOOTER */ 

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    height: auto;
}

.contactoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background: linear-gradient(0deg, rgba(112,4,244,1) 0%, rgba(255,255,255,0.8) 100%);
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    padding: 1rem;
    color: black;
    font-family: "Jost", sans-serif;
    font-size: 32px;
        h5 {
            padding-right: 2rem;
            text-align: center;
        }
}

.contactoContainer ul {
    list-style: none;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
        a {
            text-decoration: none;
            color: black;
            padding: 1rem;
        }
}

.contactoContainer ul li i {
    padding-right: 0.5rem;
}

/* @MEDIAQUERY */

@media only screen and (max-width: 900px) {
    .gridContainer {
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
            li {
                padding: 0.6rem;
            }
    }

    header .titlepfp {
        margin: 1rem 0 2rem;
        text-align: center;
    }

    header .bannerpfp img {
        width: 100%;
    }

    header .titles {
            font-size: 2rem;
            h2 {
                font-size: 0,6rem;
            }
    }

    main {
        padding-top: 4rem; 
        padding-bottom: 10rem;
    }

    .presentacion h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    .presentacion p {
        padding: 0.3rem;
        text-align: center;
        width: 100%;
    }

    .wrapper {
        padding-top: 1rem;
    }

    .slide {
        width: 115vw;
    }

    .caption {
        font-size: 5rem;
        bottom: 5vw;
        right: 20vw;
        width: 100%;
        i {
            padding-right: 1.5rem;
        }
    }

    .skillsSection {
        height: auto;
        padding: 1rem;
        margin-top: -5rem;
    }

    .cardsCont {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .skillsCards {
        width: 100%;
        height: auto;
    }

    .skillsCards ul {
        padding: 0;
    }

    .skillsCards h4 {
        font-size: large;
    }

    .skillsCards span {
        height: 80px;
        width: 80px;
        margin-bottom: 0.5rem;
        font-size: 40px;
    }

    .contactoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contactoContainer h5 {
        padding-right: 0;
        margin-bottom: 1rem;
    }

    .contactoContainer ul {
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        margin: 0.5rem 0;
    }
}

